# Python portable (runtime bundled locally)
python-portable/

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg

# Environment
.env
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Docker
*.log
